<!DOCTYPE html>
<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Create an album!</title>
</head>
    <body>
        <div class="title">
            <h1>Create an album on Photoshare</h1>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse</a> </li>
            <li><a href="/photos">Your Photos</a> </li>
            <li><a href="/upload">Upload a photo</a> </li>
            <li><a href="/delete">Delete</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <form method="post" action="/albums">                
            <label for="a_name">Enter album name:</label>
            <input type="text" name="a_name" required="true" /><br />
            
            <input type="submit" value="Create" />
        </form>
    </body>