<!DOCTYPE html>
<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Delete a photo</title>
</head>
    <body>
        <div class="title">
            <h1>Delete your photos</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="picture_id">Enter Picture ID:</label>
                <input type="text" name="picture_id" required="true" /><br />
                <input type="submit" value="Delete" />
            </form>
    </body>
