<!DOCTYPE html>
<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Delete photos!</title>
</head>
    <body>
        <div class="title">
            <h1>Delete a photo/album from Photoshare</h1>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse All Photos</a> </li>
            <li><a href="/discover">Discover</a> </li>
            <li><a href="/photos">Your Photos</a> </li>
            <li><a href="/albums">Create an album</a> </li>
            <li><a href="/upload">Upload a photo</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <form method="post" action="/delete">
            <label for="photo">Enter photo ID:</label>
            <input type="text" name="photo_id" />
            <input type="submit" value="Delete" />
            <br />
            <label for="album">Enter album name:</label>
            <input type="text" name="a_name" />
            <input type="submit" value="Delete" />
        </form>
    </body>
