<!DOCTYPE html>
<title>Friends</title>
<!-- 
Page for adding friends and viewing friends list 

TO-DO:
    - List all added friends with a button to remove them
    - List all unadded friends with a button to add them
-->
<h1> Friends </h1>

<li><a href="/">Home</a></li>
<br>

<form method="post" action="{{ url_for('add_friend') }}">
    <label for="friend_id">Enter your friend ID:</label>
    <input type="friend_id" name="friend_id" /><br />
    
    <input type="submit"/>
</form>

<h3> Your Friends </h3>
{% if friends %}
    <ul>
    {% for friend in friends %}

        <li>ID: {{friend[1]}}<br>

    {% endfor %}
    </ul>
{% endif %}


<h3> Friend Recommendation </h3>
{% if recommended %}
    <ul>
    {% for r in recommended %}

        <li>ID: {{r[1]}}<br>

    {% endfor %}
    </ul>
{% endif %}