<!DOCTYPE html>
<title>Photoshare</title>

<!-- author ben lawson (balawson@bu.edu) -->
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

<!-- Display top 10 users here -->

{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if delete %}
<form method="post" enctype="multipart/form-data" action="/upload">
  <label for="picture_id">Enter Picture ID:</label>
  <input type="text" name="picture_id" required="true" /><br />
  <input type="submit" value="Delete" />
</form>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>ID: {{photo[1]}}<br>
        <li>Caption: {{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        

    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href="/login">login!</a></p>
{% else %}
  <p> Go to <a href="/profile">profile?</a></p>
  <p> Go to <a href="friends">friends?</a></p>
{% endif %}

<ul>
<li><a href="/photos">Your Photos</a> </li>
<li><a href="/upload">Upload a photo</a> </li>
<li><a href="/delete">Delete</a> </li>
<li><a href="/logout">Logout</a></li>
<li><a href="/">Home</a></li>
</ul>
