<!DOCTYPE html>
<title>Photoshare</title>

<!-- author ben lawson (balawson@bu.edu) -->
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

<!-- hyperlinks to the other pages -->
{% if message is none %}
  <p>You should <a href="/login">login!</a></p>
  <li><a href="/browse">Browse</a> </li>
  <li><a href="/">Home</a></li>
{% elif message == 'Logged out' %}
  <p>You should <a href="/login">login!</a></p>
  <li><a href="/browse">Browse</a> </li>
{% else %}
  <p> Go to <a href="/profile">profile?</a></p>
  <p> Go to <a href="friends">friends?</a></p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/browse">Browse</a> </li>
    <li><a href="/photos">Your Photos</a> </li>
    <li><a href="/albums">Create an album</a> </li>
    <li><a href="/view_tags">Tags</a> </li>
    <li><a href="/upload">Upload a photo</a> </li>
    <li><a href="/delete">Delete</a> </li>
    <li><a href="/logout">Logout</a></li>
  </ul>    
{% endif %}

<!-- report the top 10 highest contribution score -->
{% if topTen %}
  {% for tt in topTen %}
    <li>ID: {{tt[0]}}: {{tt[1]}}, {{tt[2]}} <br>
  {% endfor %}
{% endif %}



<!-- Displaying user photos -->
{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>ID: {{photo[1]}}<br>
        <li>Caption: {{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' 
            width="400" height=auto/></li>
        
        <!-- load likes -->
        Liked: {{photo[3]}}

        <!-- load comments -->
        <h3>Comment: </h3>
        {% if comments %}
        <ul>
          {% for comment in comments %}
            {% if photo[1] == comment[2] %}
              <li>UID: {{comment[1]}}<br>
              <li>PID: {{comment[2]}}<br>
              <li>Text: {{comment[4]}}<br>
              <br>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}

        <br> <br>
    {% endfor %}
    </ul>
{% endif %}


<!-- FOR BROWSING -->
<!-- Displaying every users photos -->
{% if allphotos %}
<h2>Here are everyones photos</h2>
    <ul>
    {% for photo in allphotos %}
        <li>User: {{photo[1]}}<br>
        <li>Caption: {{photo[2]}}<br>
        <li>Picture_ID: {{photo[3]}}<br> <!-- TESTING -->
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'
            width="450" height=auto/></li>


        <!-- Like -->
        <form method="post" action="{{ url_for('giveALike') }}">
          <input type="submit" name = "{{photo[3]}}" value="Like"/> {{photo[4]}}
        </form>

        
        <!-- Comment -->
        <h3>Comment: </h3>
        <form method="post" action="{{ url_for('addComment') }}">
          <label for="comment">Enter your comment:</label>
          <input type="comment" name="{{photo[3]}}"/><br />
          
          <input type="submit" value="Comment" name="like"/>
        </form>

        <!-- load comments -->
        {% if comments %}
        <ul>
          {% for comment in comments %}
            {% if photo[3] == comment[2] %}
              <li>UID: {{comment[1]}}<br>
              <li>PID: {{comment[2]}}<br>
              <li>Text: {{comment[4]}}<br>
              <br>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}

        <br> <br>
    {% endfor %}
    </ul>
{% endif %}