<!-- 
TO-DO:
    - Search/View users photos by tag name
    - Search/View all photos by tag name
    - Search/View most popular tags
        - different tags are separated by ' ' blank space
-->

<!DOCTYPE html>
<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>View tagged photos!</title>
</head>
    <body>
        <div class="title">
            <h1>View Tagged Photos from Photoshare</h1>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse All Photos</a> </li>
            <li><a href="/discover">Discover</a> </li>
            <li><a href="/photos">Your Photos</a> </li>
            <li><a href="/albums">Create an album</a> </li>
            <li><a href="/delete">Delete</a> </li>
            <li><a href="/upload">Upload a photo</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        {% if mostPopularTags %}
            <h2>Most Popular Tags</h2>
            <ul>
                {% for tag in mostPopularTags %}
                    <li>{{tag[0]}}: {{tag[1]}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="/view_tags">
            <label for="tags">Enter Tags:</label>
            <input type="text" name="tags" />
            <input type="submit" value="Search" />

            <label type="checkbox" for="all_photos">Search all photos?</label>
            <input type="checkbox" name="all_photos" value="all_photos" />

        </form>
    </body>